@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

*{
    padding: 0;
    margin: 0;
    outline: none; 
    border: none;
    font-family: sans-serif;
    box-sizing: border-box;
    transition: .2s linear;
}

body {
    background-image: url(imagesforhome/background\ img.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.menu li a{
    text-decoration: none;
    text-transform: uppercase;
    color: white;
}

nav ul li a {
    padding: 8px 10px
}

nav ul li a:active {
    opacity: 80%;
}

nav ul li a:hover {
    background: rgba(0, 0, 0, 0.8);
    text-decoration: underline;
    transition: 0.7s;
    border-radius: 10px;
}

nav ul{
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
}

nav ul li {
    margin-right: 1rem;
}

section .title {
    font-size: 2rem;
    margin: 0rem 3rem;
    color: white;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
    padding: 2rem 0rem;
    height: 14hv;
}

button {
    width: 100px;
    height: 100px;
    font-size: large;
}



.intro-info {
    padding: 160px;
    position: absolute;
    margin-left: 100px;
    margin-top: 150px;
    background-color: #cac4c4;
    color: rgba(0, 0, 0, 100);
    opacity: 80%;
    border-radius: 50%;

}

.intro-info h1 {
    font-size: 50px;
    line-height: 50px;
    color: black;
}

.intro-info p{
    font-family: sans-serif;
    font-size: 20px;
    line-height: 20px;
    color: black;
}

.container {
    width: fit-content;
    margin: 200px auto;
    margin-right: 300px;
}

.btn {
    width: 400px;
    height: 60px;
    color: #fff;
    background: rgba(0, 0, 0, 0.5);
    font-size: 18px;
    text-decoration: none;
    margin: 50px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
}
 
.btn1:active, .btn2:active, .btn3:active, .btn4:active {
    opacity: 80%;
}

.btn1:hover, .btn2:hover, .btn3:hover, .btn4:hover {
    background: rgba(0, 0, 0, 0.8);
    text-decoration: underline;
    transition: 0.7s;
    border-radius: 10px;
}

.aboutUs, .aboutUsRow{
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 50%;
    margin-left: 25%;
}

.heading {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}

.questionTitle {
    margin-top: 100px;
    color: black;
    text-align: center;
    font-size: 4rem;
    padding-bottom: 70px;

}

.questionContainer {
    box-sizing: border-box;
    width: 50%;
    margin-left: 25%;
}

.question {
    display: flex;
    width: 100%;
    border-radius: 100px;
    margin-bottom: 1rem;
    background: white;
    font-size: 3rem;
    align-items: center;
    justify-content: center;
}

.question:hover{
    cursor: pointer;
    background: rgba(247, 240, 240, 0.774);
    transition: 0.5s;
    text-decoration: underline rgb(77, 77, 77);
}