@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    color: white;
}

body {
    background-image: url(imagesforhome/background\ img.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.menu li a{
    text-decoration: none;
    text-transform: uppercase;
}

nav ul{
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
}

nav ul li {
    margin-right: 1rem;
}

header .title {
    font-size: 2rem;
    margin: 0rem 3rem;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
    padding: 2rem 0rem;
    height: 14hv;
}



